
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


*{
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.main-container{
  width: 100%;
  padding: 3em 1em;
  display: grid;
  place-items: center;
}

.profile-section{
  position: relative;
}

#profile__img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.share-btn-desktop{
  display: none;
  visibility: hidden;
  position: absolute;
  top: -0.8em;
  left: 30em;
}

.share-btn-mobile{
  position: absolute;
  top: -1em;
  left: 12em;
}

.profile-section h1{
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-top: 1rem;
}

#slack{
  visibility: hidden;
}

.links-section{
  margin-top: 2em;
  display: grid;
  gap: 2em;
  width: 80%;
  text-align: center;
}

.links-section a{
  background: #EAECF0;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 1em 0;
  font-weight: 500;
  font-size: 14px;
}

.links-section a:hover{
  border: 1px solid #98A2B3;
}

.links-section a:active{
  background: #D0D5DD;
}

.links-section a>span{
  font-size: 10px;
}

.other-links{
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.other-links img{
  width: 20px;
  height: 20px;
}

.container{
  padding: 3em 1em;
}

.container h1{
  font-weight: 600;
  font-size: 36px;
  color: #101828;
}

.container p{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}

.form-container{
  margin-top: 2em;
  display: grid;
  gap: 0.6em;
}

.name-container{
  display: grid;
}

.name-container .firstname,.lastname{
  display: grid;
  gap: 0.6em;
}

.form-container #first_name,#last_name,#email,#message{
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-bottom: 1em;
}

.form-container #first_name,#last_name,#email,#message{
  padding: 10px 14px;
}

.agree-container{
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  border-radius: 6px;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  left: 14%;
  right: 16%;
  top: -12%;
  color: #1570EF;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="checkbox"]:hover{
  background: #FFFFFF;
  border: 1px solid #84CAFF;
  box-shadow: 0px 0px 0px 4px #D1E9FF;
}

input[type="checkbox"]:checked{
  border: 1px solid #1570EF;
}

input[type="checkbox"]:disabled {
  background: #F2F4F7;
  border: 1px solid #D0D5DD;
}

.agree-text{
  width: 312px;
  margin-left: 0.7em;
  color: #475467;
}

#message:invalid {
  background: #FFFFFF;
  border: 1px solid #F89687;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}

#message:valid{
  background: #FFFFFF;
  border: 1px solid #84CAFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.form-container #btn__submit{
  color: white;
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 20px;
}

#btn__submit:hover{
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

#btn__submit:active{
  background: #175CD3;
  border: 1px solid #175CD3;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.form-container:invalid>#btn__submit {
  background: #B2DDFF;
  border: 1px solid #B2DDFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}


#footer-container{
  margin: auto;
  max-width: 90%;
  margin-top: 2.5em;
  padding-bottom: 1em;
}

.footer-contents{
  display: grid;
  gap: 1em;
}

#footer-container hr{
  color: #667085;
  visibility: visible;
  margin-bottom: 2em;
}

#footer-container p{
  font-size: 14px;
  color: #667085;
}

@media screen and (min-width: 600px) {
  .share-btn-desktop{
    display: inline;
    visibility: visible;
  }

  .share-btn-mobile{
    visibility: hidden;
  }

  .links-section a>span{
    font-size: 12px;
  }

  .container{
    max-width: 85vw;
    margin: auto;
  }

  .name-container{
    display: flex;
    justify-content: space-between;
  }

  .name-container .firstname,.lastname{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .name-container .firstname{
    margin-right: 2em;
  }

  .agree-text{
    width: 100%;
  }

  #footer-container{
    margin-top: 4em;
  }

  .footer-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  #footer-container hr{
    visibility: visible;
  }

  #footer-container .footer-contents p{
    font-size: 12px;
  }
}


